---
import "../assets/css/global.css";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import { ClientRouter } from "astro:transitions";
const { profile, supabase, user } = Astro.locals;

let websites;
if (user) {
  const { data } = await supabase
    .from("websites")
    .select("id, name, slug")
    .eq("user_uid", user.id);
  websites = data;
}

let theme = "system";
let lang = "en";

if (profile?.preferences) {
  theme = profile?.preferences.theme || "system";
  lang = profile?.preferences.language || "en";
}

const { title, type } = Astro.props;
const explicitClass = theme === "dark" ? "dark" : "";
---

<!doctype html>
<html lang={lang} class={explicitClass}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
    <script is:inline define:vars={{ theme }}>
      if (theme === "system") {
        const root = document.documentElement;
        const systemDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;

        if (systemDark) {
          root.classList.add("dark");
        } else {
          root.classList.remove("dark");
        }

        // Listen for OS changes live
        window
          .matchMedia("(prefers-color-scheme: dark)")
          .addEventListener("change", (e) => {
            if (e.matches) root.classList.add("dark");
            else root.classList.remove("dark");
          });
      }
    </script>
  </head>
  <body>
    <div class="flex w-full">
      <aside class="w-52">
        <Sidebar type={type} websites={websites} />
      </aside>
      <main class="grow">
        <div class="w-full h-[calc(100dvh-50px)] overflow-y-auto">
          <div class="flex flex-col gap-y-4">
            <Header title={title} />
            <div class="mx-auto max-w-7xl w-full px-6">
              <slot />
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
